.bg {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#top {
    position: relative;
    text-align: center;
    font-size: xxx-large;
    font-family: sans-serif;
    text-shadow: -1px -1px 0 white, 1px -1px white, -1px 1px 0 white, 1px 1px 0 white, 2px 2px 2px black;
}

#top.O::after {
    color: red;
    content: "O's turn";
}

#top.X::after {
    color: blue;
    content: "X's turn";
}

#top.Owin::after {
    color: red;
    content: "O Win";
}

#top.Xwin::after {
    color: blue;
    content: "X Win";
}

#top.draw::after {
    color: rgb(192, 0, 192);
    content: "Draw";
}

#history {
    position: absolute;
    top: 5%;
    left: 5%;
    text-align: left;
    font-family: sans-serif;
    text-shadow: -1px -1px 0 white, 1px -1px white, -1px 1px 0 white, 1px 1px 0 white, 2px 2px 2px black;
}

#history>div {
    font-size: xxx-large;
}

#history>p {
    line-height: 0px;
    font-size: medium;
}

#score {
    position: absolute;
    height: 150px;
    width: 400px;
    bottom: 0;
    left: 50%;
    margin: 0 0 -40px -100px;
    font-size: 7em;
    font-family: sans-serif;
    text-shadow: -1px -1px 0 white, 1px -1px white, -1px 1px 0 white, 1px 1px 0 white, 2px 2px 2px black;
}

#options {
    position: absolute;
    left: 75%;
}

select {
    font-size: x-large;
}

button {
    font-size: x-large;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

.big {
    background: white;
    position: absolute;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
}

.small {
    height: 100%;
    width: 100%;
    border: 3px solid black;
}

.big>tbody>tr>td {
    border: 5px solid black;
}

.small>tbody>tr>td {
    border: 2px solid black;
}

.grid {
    position: relative;
    height: 1em;
    width: 1em;
    text-align: center;
    font-size: 3em;
}

.grid.O::after {
    content: 'O';
    color: red;
}

.grid.X::after {
    content: 'X';
    color: blue;
}

.grid:hover:not(.Oavl):not(.Xavl) {
    background-color: rgba(0, 0, 0, 0.3);
}

.grid.Oavl {
    background-color: rgba(255, 0, 0, 0.3);
}

.grid.Oavl:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.grid.Xavl {
    background-color: rgba(0, 0, 255, 0.3);
}

.grid.Xavl:hover {
    background-color: rgba(0, 0, 255, 0.5);
}